header.main-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 2px solid rgb(10, 10, 56);
}
image {
	margin: 0;
	padding: 0;
}
figure {
	margin: 15px 25px;
}
h3 {
	margin: 0 20vw;
}
